---
---
$base: hsl(195, 12%, 50%);
$text: lighten($base, 30%);
$dark: darken($base, 38%);
$delta: #222;
$link: $text;
$highlight: lighten($link, 12%);
$darklight: darken($text, 15%);
$fast: 0.3s;
$photowidth: 900px;

@mixin transition($range: all, $time: 1s, $ease: ease-in-out) {
	-moz-transition: $range $time $ease;
	-ms-transition: $range $time $ease;
	-webkit-transition: $range $time $ease;
	-o-transition: $range $time $ease;
	transition: $range $time $ease;
}

@mixin showborder($color: red) {
	border: 1pt solid $color;
}

@mixin background-gradient($color, $diff: $delta) {
	background-color: $color;
	background: -webkit-gradient(linear, left top, left bottom, from($color + $diff), to($color - $diff));
	background: -moz-linear-gradient(top, $color + $diff, $color - $diff);
}

@mixin box-sizing {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

@mixin smoothcolor($color, $time: $fast) {
	color: $color;
	@include transition(color, $fast);
}

* {
	margin: 0pt;
	padding: 0pt;
}

html {
	padding: 2pt;
	@include box-sizing;
}

body {
	background-color: $dark;
	color: $text;
	font-family: Roboto, Marmelad, arial;
	font-size: 13pt;
	line-height: 1.3;
	top-margin: 20pt;
	text-align: left;
}

#burmisha {
	font-family: Lobster;
	font-size: 24pt;
	font-weight: normal;
	width: 33%;
}

#header {
	margin-top: 8pt;
	margin-bottom: 8pt;
}

h2 {
	font-size: 15pt;
	margin: 5pt 0pt 1pt 0pt;
}

ul {
	list-style-type: none;
}

#wishlist {
	ul {
		margin: 5pt 0pt;
		li {
			margin: 3pt 0pt 3pt 20pt;
		}
	}
}

#menu {
	float: right;
	width: 60%;
	margin-top: 11pt;
	li {
		float: left;
		min-width: 40pt;
		text-align: right;
		width: 33%;
	}
}

a {
	@include smoothcolor($link);
	&:hover {
		text-decoration: none;
		@include smoothcolor($highlight);
	}
}

a.enumeration {
	text-decoration: none;
	@include transition(all, $fast);
	@include smoothcolor($darklight);
	.hidden {
		@include smoothcolor($dark);
	}
	&:hover {
		.hidden {
			@include smoothcolor($text);
		}
		@include smoothcolor($text);
	}
}

.text {
	@include smoothcolor($darklight);
	&:hover {
		@include smoothcolor($text);
	}
}

#resume p {
	float: left;
	clear: both;
	margin: 0pt;
	max-width: 100%;
}

#resume > li > p {
	padding-top: 12pt;
}

#resume > li > ul {
	li {
		float: left;
		&:nth-child(odd) {
			clear: left;
			min-width: 140pt;
			width: 20%;
			max-width: 160pt;
			@include smoothcolor($darklight);
			&:hover {
				@include smoothcolor($text);
			}
		}
		&:nth-child(even) {
			clear: right;
			max-width: 66%;
			min-width: 50%;
		}
	}
	padding-bottom: 3pt;
	li > ul > li:nth-child(odd) {
		min-width: 50pt;
		width: 15%;
	}
}

.preview {
	width: 80%;
	max-width: 1024px;
	margin: 0pt auto;
	#map {
		position: relative;
		width: 100%;
		height: 300pt;
	}
}

.info {
	float: left;
	clear: left;
	width: 28%;
	min-width: 28%;
	margin-right: 2%;
	h2 {
		text-align: right;
	}
}

.content {
	float: left;
	clear: right;
	width: 70%;
}

.story {
	margin-bottom: 10pt;
}

.caption, .story {
	max-width: 1080px;
	margin: 12pt auto 1px;
}

div.pagination {
	float: left;
	clear: both;
	width: 66%;
	margin: 0pt 17% 0pt 17%;
	text-align: center;
	.pagination_element {
		float: left;
		width: 33%;
	}
	.disabled {
		color: $darklight;
	}
}

#about {
	width: 150pt;
	float: right;
}

#avatar {
	float: right;
	max-height: 240pt;
	min-width: 80pt;
	max-width: 15%;
	margin: 3pt 3pt;
}

div.public_links {
	float: right;
}

div.public_link_wrap {
	font-size: 25pt;
	width: 30pt;
	height: 30pt;
	display: inline-block;
}

div.public_link {
	overflow: hidden;
}
