img.bigphoto, div.photo_group {
	margin: 0 auto;
	padding: 2px 0px;
}

div.photo_group {
	margin: 0px -5px;
}

div.photo_group > div.photo {
	width: 50%;
	padding: 2px 5px;
	display: inline-block;
}

img.bigphoto {
	max-height: 720px;
	max-width: 100%;
	display: block;
}

div.mediumphoto {
	width: 300px;
	height: 240px;
	margin: 5px 0px;
	overflow: hidden;
}

img.mediumphoto {
	max-width: 300px;
	max-height: 240px;
}

div.smallphoto {
	height: 75px;
	width: 75px;
	margin: 0px;
	background: no-repeat center;
	overflow: hidden;
	display: inline-block;
}

img.photo_one_of_2 {
	width: 100%;
}

img.photo_one_of_3 {
	width: 32.6%;
	margin: 0px 0% 0px 0.7%;
}

img.smallphoto {
	transform: translate(-25%, -25%);
}
