
div.bigphoto {
  width: 800px;
  height: 600px;
  margin: 2px 0px;
  overflow: hidden;
}

img.bigphoto {
  max-width: 800px;
  max-height: 600px;
}

div.mediumphoto {
	width: 300px;
	height: 240px;
	margin: 5px 0px;
	overflow: hidden;
}

img.mediumphoto {
	max-width: 300px;
	max-height: 240px;
}

div.smallphoto {
	height: 75px;
	width: 75px;
	margin: 0px;
	background: no-repeat center;
	overflow: hidden;
	display: inline-block;
}

img.photo_one_of_2 {
	width: 49.2%;
	margin: 0px 0% 0px 0.7%;
}

img.photo_one_of_3 {
	width: 32.6%;
	margin: 0px 0% 0px 0.7%;
}

img.smallphoto {
	transform: translate(-25%, -25%);
}
