{% include header.html %}
<!-- 
http://img-fotki.yandex.ru/get/(.*)_.*
- url: $1
-->
<body>
<div class="preview" id="header">
	<span id="burmisha">{% if page.url == "/index.html" %}burmisha{% else %}<a href="/">burmisha</a>{% endif %}</span>
	<ul id="menu">
		<li class="menu_item">{%if page.url == "/blog/index.html" %}blog{% else %}<a href="/blog/">blog</a>{% endif %}</li>
		<li class="menu_item">{%if page.url == "/tags/wedding/index.html" %}wedding{% else %}<a href="/tags/wedding">wedding</a>{% endif %}</li>
		<li class="menu_item">{%if page.title == "CV" %}CV{% else %}<a href="/cv/">CV</a>{% endif %}</li>
	</ul>
</div>



{% if page.photos %}
<div class="preview">
	{% if page.title %}
		<h2>{{page.title}}</h2>
	{% endif %}

{% if page.map.strava %}
	{% assign strava_track = page.map.strava %}
	{% assign map_center = page.map.center %}
	{% include track.html %}

	This track at <a href="http://www.strava.com/activities/{{page.map.strava}}">Strava</a>.
{% endif %}

	{% assign i = 1 %}
	{% for photo in page.photos %}
		{% if page.enumerate == true %}
			<div class="enumerate">
				<a href="#{{ photo.url | remove: '/' | remove: '.' | remove: '_' }}" class="enumeration"><span class="hidden">&para;&nbsp;</span>{{i}}</a>
			</div>
		{% endif %}

		{% if photo.text %}
			<div class="story">
				{{ photo.text }}
			</div>
		{% endif %}

		{% if photo.caption %}
			<div class="caption">
				{{ photo.caption }}
			</div>
		{% endif %}

		{% if photo.url %}
			{% if page.debug %}<div class="caption">{{ photo.url }}</div>{% endif %}
			{% assign i = i | plus: 1 %}
			<a style="display:block" name="{{ photo.url | remove: '/' | remove: '.' | remove: '_' }}">
			<img class="bigphoto" src="http://img-fotki.yandex.ru/get/6708/82500796.25/0_ccdf2_73d68fa4_M"
				data-src="http://img-fotki.yandex.ru/get/{{ photo.url }}_XXXL.jpg"/>
			</a>
		{% endif %}

		{% if photo.urls %}
			{% assign photo_urls = photo.urls %}
			{% include add_photos.html %}
		{% endif %}
	{% endfor %}
</div>
{% endif %}

{% if page.content %}
	<div class="preview">
		{{content}}
	</div>
{% endif %}

{% if page.YaFotki %}
<div class="preview">
	This album at <a href="http://fotki.yandex.ru/users/i-like-spam/album/{{page.YaFotki}}/">Yandex.Fotki</a>.
</div>
{% endif %}
{% if page.Dropbox %}
<div class="preview">
	This album at <a href="https://www.dropbox.com/sh/{{page.Dropbox}}/">Dropbox</a>.
</div>
{% endif %}
{% if page.map_path %}
<div class="preview">
	More photos on the <a href="{{ page.map_path }}/">map</a> ("Esc" is the most useful button).
</div>
{% endif %}


{% include yandex_metrika.html %}
</body>
</html>
