<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>Map</title>
	<script src='//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.js'></script>
	<link href='//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.css' rel='stylesheet' />
	<script src="/js/leaflet.markercluster.js"></script>
	<link rel="stylesheet" href="/css/MarkerCluster.css"/>
	<link rel="stylesheet" href="/css/MarkerCluster.Default.css" />
	<link rel="stylesheet" type="text/css" href="/css/colortheme.css">
	<link rel="stylesheet" type="text/css" href="/css/photos.css">
	<link rel="stylesheet" type="text/css" href="/css/map.css">
</head>
<body>
	<div id='map'></div>
	<div id='info'></div>
	<script>
		var request = new XMLHttpRequest();
		request.open("GET", '{{ page.geojson }}', false);
		request.send(null);
		var geoJson = JSON.parse(request.responseText);
		
		var map = L.mapbox.map('map', 'examples.map-20v6611k').setView([53, 2], 6);

		var markers = new L.MarkerClusterGroup({showCoverageOnHover: false, zoomToBoundsOnClick: false,
			iconCreateFunction: function(cluster) {
				return new L.DivIcon({ html: '<div style="background-image:url(http://img-fotki.yandex.ru/get/' + cluster.getAllChildMarkers()[0].options.properties.image_url + '_S.jpg)" class="mapphoto"></div>'});
			}
			, singleMarkerMode: true
			, maxClusterRadius: 55
			, spiderfyDistanceMultiplier: 1
			, disableClusteringAtZoom: 20
		});

		for (var i = 0; i < geoJson.features.length; i++) {
			var a = geoJson.features[i];
			var marker = L.marker([a.geometry.coordinates[1], a.geometry.coordinates[0]], {
				properties: a.properties
			});
			markers.addLayer(marker);
		}
		map.addLayer(markers);

		markers.on('click', function (e) {
			var feature = e.layer.options;
			document.getElementById('info').innerHTML = '<div class="mediumphoto"><img class="mediumphoto" src="http://img-fotki.yandex.ru/get/' + feature.properties.image_url+'_M.jpg"/></div>';
		});

		markers.on('clusterclick', function (a) {
			var children = a.layer.getAllChildMarkers();
			var info = ""
			for (var i = 0; i < children.length; i++) {
				var feature = children[i].options;
				info = info + '<div class="mediumphoto"><img class="mediumphoto" src="http://img-fotki.yandex.ru/get/' + feature.properties.image_url+'_M.jpg"/></div>';
			}
			document.getElementById('info').innerHTML = info;
		});

		map.on('click',function(e){ // Clear the tooltip when map is clicked
			document.getElementById('info').innerHTML = '';
		});
	</script>
</body>
</html>
